<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="layout">
        Sidebar
    <div class="sidebar">
            <div class="project-name">Predição Escolar</div>
            <nav class="menu">
                <a href="/" class="menu-item">Predição</a>
                <a href="/dashboard" class="menu-item active">Dashboard</a>
            </nav>
        </div> -->

        <!-- Conteúdo principal -->
        <!--
        <main class="main-content">
            <section id="dashboard-section" class="dashboard-section fade-in">
                <h1 class="page-title">Dashboard</h1>

                <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                    <canvas id="predictionChart"></canvas>
                </div>
                <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                    <canvas id="ageChart"></canvas>
                </div>
                <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                    <canvas id="genderChart"></canvas>
                </div>
                <div>
                </div>
            </section>
        </main>
    </div>

    <script src="/static/script.js"></script>
</body>
</html> -->
